// Navbar Specific Styles
.header-jumbotron-text {
    margin: auto;
    text-shadow: 5px 5px 5px black;
}

.button-container {
    margin: auto;
}

.jumbotron-button {
    margin: 0 20px;
}

.jumbotron-button-two {
    margin: 0 20px;
    display: none;    
}

.free-logo-image {
    width: 80px;
    position: absolute;
    top: 30px;
    right: 50px;
    z-index: -10;
}

.navbar-link {
    text-shadow: 5px 5px 5px black;
}