// All style overwriting MDL
.header-jumbotron {
  background: url('../../images/header-image.jpg') no-repeat center center;
  background-size: cover;
  height: 320px;
  overflow: hidden;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.mdl-layout__drawer-button {
    width: 60px;
}

.mdl-grid{
    margin: 0 auto;
}

@for $i from 1 through 6 {
    .#{card-square}-#{$i}.mdl-card{
        width: 380px;
        height: 380px;
        @media screen and (max-width: 1180px) {
            width: 280px;
            height: 280px;
        }
        @media screen and (max-width: 800px) {
            width: 340px;
            height: 340px;
        }
        margin: auto;
        text-align: center;              
    }    
}

@for $i from 1 through 6 {
    .#{card-square}-#{$i} > .mdl-card__title{
        color: #fff;                
    }    
} 

.mdl-layout__content {
    @media screen and (min-width: 800px) {
        overflow-x: visible;
        overflow-y: visible
    }    
}

.mdl-mini-footer {
    @media screen and (max-width: 800px) {
        padding: 15px 15px;
    }
}
a:-webkit-any-link {
    text-decoration: none;
}

a{
    color: inherit;
    font-weight: inherit;
}

/* ==========  Select Field ========== */

/* ==========  Select Field Variables ========== */
$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.8)") !default;
$select-padding: 4px;

/* Style Select Field */
select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: $select-padding 0;
    font-size: $select-font-size;
    color: $select-color;
    border: none;
    border-bottom: 1px solid $select-border-color;
}

/* Remove focus */
select:focus {
    outline: none;
    }

/* Hide label */
.mdl-selectfield label {display: none;}
/* Use custom arrow */
.mdl-selectfield {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    position: relative;
    &:after {
        display: none;
    }
}
/* ==========  END Select Field ========== */

.mdl-textfield__label {
    color: rgba(0,0,0,0.6) !important;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
    color: rgba(0,0,0,0.6) !important;
    font-size: 12px !important;
    top: 4px;
    visibility: visible;    
}
.mdl-textfield.is-invalid .mdl-textfield__input {
    border-color: rgba(0,0,0,0.4);
    
}
.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
    color: rgba(0,0,0,0.4);
    font-size: 16px;        
}

.mdl-data-table {
    width: 100%;
}

.mdl-mini-footer {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -ms-inline-flexbox;
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
   background-color: #FFA726;
}
