// About Us Page Specific Styles

.utkarsh-card {
    color: #fff;
    background: url("../../images/about-us-images/utkarsh-saxena.jpg") no-repeat center center;
    background-size: cover;
    width: 300px;
    height: 350px;
    margin: 25px auto 0 auto;
}

.arabelle-card {
    color: #fff;
    background: url("../../images/about-us-images/arabelle-hou.jpg") no-repeat center center;
    background-size: cover;
    background-position: top;
    width: 300px;
    height: 350px;
    margin: 25px auto 0 auto;
}

.jordan-card {
    color: #fff;
    background: url("../../images/about-us-images/jordan-schalm.jpg") no-repeat center center;
    background-size: cover;
    background-position: left;
    width: 300px;
    height: 350px;
    margin: 25px auto 0 auto;
}

.launchpad-card {
    color: #fff;
    background: url("../../images/about-us-images/launchpad.png") no-repeat center center;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    margin: 25px auto 0 auto;   
}

.lucas-card {
    color: #fff;
    background: url("../../images/about-us-images/lucas-solmes.jpg") no-repeat center center;
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 350px;
    margin: 25px auto 0 auto;
}

.aboutUs-blurb {
  font-size: 14px
}

.form-heading {
    margin: 20px auto 20px auto;
}

.form-heading-two {
    margin: 60px auto 20px auto;
}

.our-team-container, .support-container {
    @media screen and (min-width: 980px) {
        width: 980px; 
        margin: 0 auto 0 auto;       
    }
    
}

.how-it-works-container {
    background-color: white;
    padding-bottom: 50px;    
}

.how-it-works-title {
    text-align: center;
    font-family: 'Open Sans Condensed';
}

.how-it-works-title-two {
    text-align: center;
    font-family: 'Open Sans Condensed';
    margin-top: 40px;
}

.guide-one-paragraph, .guide-two-paragraph, .guide-three-paragraph {
    margin: 0 70px;    
}
.guide-one-container, .guide-two-container, .guide-three-container {
    text-align: center;
}

.venture-title {
    text-align: center;
    font-family: 'Open Sans Condensed';
    font-weight: 100;    
}

.venture-description {
    font-family: 'Open Sans Condensed';
    max-width: 700px;
    margin: 0 auto 50px auto;
    font-size: 22px;
    line-height: 1.5em;
    letter-spacing: 0.5px; 
}
