// freelancersignup.html specific styles

.freelancer-form-primary-content {
    width: 980px;
    margin: 0 auto;
    padding-bottom: 3%;
    text-align: center;
    background-color: white;
    @media screen and (max-width: 980px) {
        width: 700px;
    }
    @media screen and (max-width: 700px) {
        width: 450px;
    }
    .form-header {
        h6 {
            margin-bottom: 30px;
        }
        
    }  
}

.signup-heading {
    text-decoration: underline;
}

.signin-heading {
    text-decoration: underline;
}

.alert-danger {
    color: #D32F2F;
    font-weight: bold;
}