// Landing Page Specific Styles

.card-square-1 > .mdl-card__title {
    color: #fff;  
    background: url("../../images/landing-page-images/monitor.png") no-repeat center center #F44336;
}

.card-square-2 > .mdl-card__title {
    color: #fff;  
    background: url("../../images/landing-page-images/teaching.png") no-repeat center center #46B6AC;
}
.card-square-3 > .mdl-card__title {
    color: #fff;  
    background: url("../../images/landing-page-images/website8.png") no-repeat center center #673AB7;
}
.card-square-4 > .mdl-card__title {
    color: #fff;  
    background: url("../../images/landing-page-images/pen.png") no-repeat center center #03A9F4;
}
.card-square-5 > .mdl-card__title {
    color: #fff;  
    background: url("../../images/landing-page-images/camera.png") no-repeat center center #FF9800;
}
.card-square-6 > .mdl-card__title {
    color: #fff;  
    background: url("../../images/landing-page-images/format-paint.png") no-repeat center center #3F51B5;
}

.js-mdl-cards {
    cursor: pointer;
    &:hover {
        a.search-project-link {
            text-decoration: underline;
        }
    }
}

.how-it-works-container {
    background-color: white;
    padding-bottom: 50px;    
}

.how-it-works-title {
    text-align: center;
    font-family: 'Open Sans Condensed';
}

.how-it-works-title-two {
    text-align: center;
    font-family: 'Open Sans Condensed';
    margin-top: 30px;
}

.guide-one-paragraph, .guide-two-paragraph, .guide-three-paragraph {
    margin: 0 70px;    
}
.guide-one-container, .guide-two-container, .guide-three-container {
    text-align: center;
}

.mdl-grid:nth-child(1) {
    display: none;
    margin: 20px;
}

.mdl-grid:nth-child(2) {
    margin-top: 50px;
}

.hide-value-prop-section {
    float: right;
    cursor: pointer;
}
