// Side wide basic styles go here
@import "google-fonts";
@import "overwrite_mdl";
@import "navbar_styles";

.primary-page-content {
    margin-top: 50px;
    margin-bottom: 50px;
    @media screen and (max-width: 500px) {
        overflow: scroll;
    }
}

.mdl-card__title > h2 {
    &:hover {
        color: white;
        text-decoration: underline;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

#autocomplete-container, #autocomplete-container-one, #autocomplete-container-two {
    display: block; 
    position: relative;
    z-index: 99;
} 
.ui-autocomplete {
    overflow: visible;
    max-height: 300px;
}

.zopim {
    @media screen and (max-width: 500px) {
        display: none;
    }
}