// All Post Project realted styles
.select-category, .select-pay-rate, .select-experience-level, .select-duration {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    @media screen and (max-width: 980px) {
        width: 250px;       
    }
     @media screen and (max-width: 600px) {
         margin: 5px;
         padding: 5px;
    }
}

.help-block {
    font-weight: bold !important; 
    font-size: 16px !important;
    color: #C62828 !important;
}

.post-project-form {
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    @media screen and (max-width: 600px) {
        padding: 20px 0 0 20px;
        margin: 5px;
    }
}

.form-heading {
    margin: 0 auto;    
}

.form-page-container {
    text-align: center;
    width: 980px;
    margin: auto;
    @media screen and (max-width: 980px) {
        width: 700px;
    }
    @media screen and (max-width: 700px) {
        width: 450px;
    }
}

.project-submit-button{
    margin: auto;
}

.social-auth-button{
    margin: 20px;
}

.help-text-container, .help-text-container-imp {
    background-color: #FFE0B2;
    padding: 10px;
    @media screen and (max-width: 600px) {
        display: none;
    }
    p,ul {
        color: rgba(0,0,0,0.8);
        font-size: 14px;
        font-weight: 400;
        font-family: Open Sans Condensed;
        letter-spacing: 0.8px;
        span, li {
            font-style: italic;
            font-size: 14px;
        }
        
        li {
            text-align: left;
        }
    }
    ul {
        text-align: left;
        list-style: circle;
    }  
}

.help-text-container-imp {
    background-color: #FF8A80;    
}

.form-error-message, .form-success-message {
    position: fixed;
    background-color: #D32F2F;
    padding: 10px;
    top: 20px;
    color: white;
    left: 20px;
    max-width: 400px;
    font-family: 'Roboto Condensed';
    p {
        margin: 0;
    }
}
.form-success-message {
    background-color: #00C853;
    a {
        text-decoration: underline;
    }    
}

.validation-error {
    animation:myfirst 2s linear infinite;
    -moz-animation:myfirst 2s linear infinite; /* Firefox */
    -webkit-animation:myfirst 2s linear infinite; /* Safari and Chrome */
    -o-animation:myfirst 2s linear infinite; /* Opera */
}

@keyframes myfirst {
    0%,100%   {background:red;}
    50%  {background:white;}
}

@-moz-keyframes myfirst /* Firefox */
{
    0%,100%   {background:red;}
    50%  {background:white;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%,100%   {background:red;}
    50%  {background:white;}
}

@-o-keyframes myfirst /* Opera */
{
    0%,100%   {background:red;}
    50%  {background:white;}
}