// Styles specific to search projects page.
.search-page-container {
    text-align: center;
    width: 1200px;
    min-height: 400px;
    margin: auto;
    @media screen and (max-width: 980px) {
        width: 800px;
        overflow-x: scroll;
    }
    @media screen and (max-width: 700px) {
        width: 400px;
        overflow-x: scroll;
    }   
}

.select-category {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    @media screen and (max-width: 980px) {
        width: 275px;       
    }
     @media screen and (max-width: 600px) {
         margin: 5px 5px 5px 30px;
         padding: 5px;
    }
}

table a {
    color: #5C6BC0;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.no-results-message {
    color: #EF5350;
    margin: 20px;
}

.search-projects-table {
    overflow-x: scroll;
    td {
        max-width: 350px;
        overflow: hidden;
    }
}

.launchpad-certified {
    width: 40px;
    position: absolute;
    top: 3px;
}