// Styles specific to search freelancer page.
.search-page-container {
    text-align: center;
    width: 1200px;
    min-height: 400px;
    margin: auto;
    @media screen and (max-width: 980px) {
        width: 800px;
        overflow-x: scroll;
    }
    @media screen and (max-width: 700px) {
        width: 400px;
        overflow-x: scroll;
    }   
}

.select-filter {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    @media screen and (max-width: 980px) {
        width: 275px;       
    }
     @media screen and (max-width: 600px) {
         margin: 5px 5px 5px 30px;
         padding: 5px;
    }
}

table a {
    color: #5C6BC0;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.no-results-message {
    color: #EF5350;
    margin: 20px;
}

.demo-card-wide.mdl-card {
    width: 350px;
    @media screen and (min-width: 480px) {
        height: 600px;       
    }
    
    @media screen and (max-width: 480px) {
        .mdl-card__title {
            display: none;
        }       
    }   
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 350px;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.mdl-card__title-text {
    margin: 0 auto;
}

.mdl-card__title>h2:hover {
    text-decoration: none;
}

.skills-list {
    padding: 0px;
    li {
        display: inline-block;
        background-color: #E0E0E0;
        border-radius: 15px;
        padding: 5px;
        margin: 5px;
    }
}

.mdl-card__menu {
    .mdl-button--icon {
        color: #424242;
    }
}

.mdl-card__supporting-text {
    h6 {
        max-width: 300px;
    }
}

.notifications-container {
    text-align: center;
}

.launchpad-certified {
    position: absolute;
    bottom: 240px;
    right: 7px;
}
