// All styles specific to freelancer.html page
 .view-project-container {
    width: 1200px;
    min-height: 400px;
    margin: auto;
    background-color: white;
    @media screen and (max-width: 980px) {
        width: 800px;
    }
    @media screen and (max-width: 700px) {
        width: 500px;
        overflow-x: scroll;
    }
    
    .header-container {
        position: relative;
        margin-left: 20px;        
        h4, h5 {
            &:first-letter {
                text-transform: capitalize                
            }           
        }
        h5, p {
            color: #9E9E9E;
            margin-bottom: 5px;
            margin-top: 10px;
        }
        a {
            text-decoration: underline;
            color: #0277BD;
            margin: 2px 5px;
        }
        
    }
    
    .info-container {
        text-align: center;
    }
    
    .desc-container, .education-container, .work-container {
        margin-left: 20px;
        max-width: 900px;
        overflow-wrap: break-word;
        @media screen and (max-width: 980px) {
            width: 650px;
        }
        @media screen and (max-width: 700px) {
            width: 400px;
        }
        h6 {
            color: #9E9E9E;            
        }        
    }
    
    .contact-container {
        text-align: center;
        margin: 0 auto;
        a {
            text-decoration: underline;
        }       
    }
    
    .btns-container{
        margin: 0 auto;
        a {
            margin: 2px 20px;
        }
        .delete-btn {
            background-color: #EF5350;
        }
        .del-proj-spinner {
            display: none;
        }
    }
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  text-shadow: 2px 2px #000;  
}

.mdl-card__supporting-text {
    word-break: break-word;
    height: 100px;
    overflow-y: scroll;
}

.cost-text {
    color: #009688;
    margin: 15px 0 0 15px;
}

.launchpad-certified {
    position: absolute;
    bottom: 160px;
    left: 180px;
}