// All styles specific to project.html page
 .view-project-container {
    width: 1200px;
    min-height: 400px;
    margin: auto;
    background-color: white;
    @media screen and (max-width: 980px) {
        width: 800px;
    }
    @media screen and (max-width: 700px) {
        width: 500px;
    }    
}

.header-container {
    margin-left: 20px;        
    h4 {
        &:first-letter {
            text-transform: capitalize                
        }           
    }
    h6, p {
        color: #9E9E9E;
        margin-bottom: 5px;
        margin-top: 10px;
    }
    
}

.info-container {
    text-align: center;
}

.desc-container {
    margin-left: 20px;
    max-width: 900px;
    overflow-wrap: break-word;
    @media screen and (max-width: 980px) {
        width: 650px;
    }
    @media screen and (max-width: 700px) {
        width: 400px;
    }
    h6 {
        color: #9E9E9E;            
    }        
}

.contact-container {
    text-align: center;
    margin: 0 auto;
    a {
        text-decoration: underline;
    }        
}

.btns-container{
    margin: 0 auto;
    a {
        margin: 2px 10px;
    }
    .delete-btn {
        background-color: #EF5350;
        margin: 2px 10px;
    }
    .del-proj-spinner {
        display: none;
    }
}

.launchpad-certified {
    width: 44px;
    position: relative;
    left: 10px;
}