<form name="becomeFreelancerForm" id="become-freelancer-form" ng-submit="submitForm(becomeFreelancerForm.$valid)" ng-init="userID = '{{userid}}'">
    <h5 class="incomplete-profile-warning" ng-if="!(profileCompleted)">Your profile is inactive. Please submit the form below to activate your account.</h5>
    
    <!-- CONTACT DETAILS -->
    <!-- EMAIL -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>Contact Details</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.email.$invalid && !becomeFreelancerForm.email.$pristine && submitted }">
                <label class="mdl-textfield__label" for="email">Email Address *</label>
                <input type="email" name="email" id="email" class="mdl-textfield__input" ng-model="email" required>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.email.$invalid && !becomeFreelancerForm.email.$pristine && submitted }">
            <p>Please enter an email address for the client to contact you.</p>
            <p ng-show="becomeFreelancerForm.email.$invalid && !becomeFreelancerForm.email.$pristine && submitted" class="help-block">Not a valid email address.</p>
            <p ng-show="becomeFreelancerForm.email.$error.minlength  && submitted" class="help-block">Please enter an email address. This is a required field.</p>
        </div>        
    </div>
    
    <!-- PHONE NUMBER -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.phoneNumber.$invalid && !becomeFreelancerForm.phoneNumber.$pristine && submitted }">
                <label class="mdl-textfield__label" for="phoneNumber">Phone Number</label>
                <input type="number" name="phoneNumber" id="phoneNumber" class="mdl-textfield__input" ng-model="phoneNumber">
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.phoneNumber.$invalid && !becomeFreelancerForm.phoneNumber.$pristine && submitted }">
            <p>Please enter a valid phone number for the client to contact you. <strong>This field is optional.</strong></p>
            <p ng-show="becomeFreelancerForm.phoneNumber.$invalid && !becomeFreelancerForm.phoneNumber.$pristine && submitted" class="help-block">Not a valid number.</p>
        </div>        
    </div>
    <hr>
    <!-- IMAGE UPLOAD -->
    <div class="mdl-grid">
        <div class="image-upload mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <i class="material-icons">face</i> *
            <input type="file" id="uploadImage" name="pic" accept="image/*" ng-if="imageURL">
            <input type="file" id="uploadImage" name="pic" accept="image/*" ng-if="!(imageURL)" required>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>Remember, freelancers with a friendly, professional-looking portrait are hired 5 times more often than those without a photo.</p>
            <p ng-if="imageURL">Current Image: </p>
            <img ng-src='{[{imageURL}]}' width="200px"/>
        </div>
    </div>
    <hr>
    
    <!-- NAME -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>Introduce yourself</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.name.$invalid && !becomeFreelancerForm.name.$pristine && submitted }">
                <label class="mdl-textfield__label" for="name">Full name*</label>
                <input type="text" name="name" id="name" class="mdl-textfield__input" ng-trim="false" ng-model="name" ng-maxlength="25" maxlength="25" required>                
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.name.$invalid && !becomeFreelancerForm.name.$pristine && submitted }">
            <p>Please enter your first and last name in that order.</p>
            <p ng-show="becomeFreelancerForm.name.$invalid && !becomeFreelancerForm.name.$pristine && submitted" class="help-block">Name is required.</p>
            <p ng-show="becomeFreelancerForm.name.$error.maxlength" class="help-block">Name cannot be more than 25 characters.</p>
        </div>        
    </div>
    
    <!-- PROFESSIONAL TITLE -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.title.$invalid && !becomeFreelancerForm.title.$pristine && submitted }">
                <label class="mdl-textfield__label" for="title">Professional Title *</label>
                <input type="text" name="title" id="title" class="mdl-textfield__input" ng-trim="false" ng-model="title" ng-maxlength="100" maxlength="100" required>                
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.title.$invalid && !becomeFreelancerForm.title.$pristine && submitted }">
            <p>A short statement describing the services you offer. <br><strong>Example: Ruby on Rails Programmer</strong></p>
            <p ng-show="(becomeFreelancerForm.title.$viewValue.length) > 0"><strong>{[{50 - becomeFreelancerForm.title.$viewValue.length}]} characters left</strong></p>
            <p ng-show="becomeFreelancerForm.title.$invalid && !becomeFreelancerForm.title.$pristine && submitted" class="help-block">Professional Title is required.</p>
            <p ng-show="becomeFreelancerForm.title.$error.maxlength" class="help-block">Professional title cannot be more than 100 characters.</p>
        </div>        
    </div>
    
    <!-- OVERVIEW -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.overview.$invalid && !becomeFreelancerForm.overview.$pristine && submitted }">
                <label class="mdl-textfield__label" for="overview">Overview*</label>
                <textarea class="mdl-textfield__input" name="overview" id="overview" type="text"  ng-trim="false" maxlength="1000" ng-model="overview" rows= "12" ng-maxlength="1000" required></textarea>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.overview.$invalid && !becomeFreelancerForm.overview.$pristine && submitted }">
            <p>Use this space to show clients you have the skills and experience they're looking for.</p>
            <ul>
                <li>Describe your strengths and skills</li>
                <li>Highlight projects, accomplishments, and education</li>
                <li>Keep it short and make sure it is error-free</li>
            </ul>
            <p ng-show="(becomeFreelancerForm.overview.$viewValue.length) > 0"><strong>{[{1000 - becomeFreelancerForm.overview.$viewValue.length}]} characters left</strong></p>
            <p ng-show="becomeFreelancerForm.overview.$invalid && !becomeFreelancerForm.overview.$pristine && submitted" class="help-block">Overview is required.</p>
            <p ng-show="becomeFreelancerForm.overview.$error.maxlength" class="help-block">Overview cannot be more than 1000 characters.</p>
        </div>
    </div>
    <hr>
    
    <!-- Pick Skills -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>Tell your potential clients more about you</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <input type='text' name="skillset" class="" id="skills-tags-two" ng-model="skillsRequired">
            <div id="autocomplete-container-one">
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>This will allow the clients to contact you for relevant projects. <strong>Example: Photoshop, Javascript, Outdoor Photography, Financial Analyst, Adwords, SEO, etc.</strong></p>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="existingSkills"></div>
        <div class="skill-set-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="existingSkills">
            <p>Existing tags: <br>(leave the input field blank to keep the tags unchanged)</p>
                <p><strong ng-repeat="skills in existingSkills  track by $index"> {[{skills}]},</strong></p>
        </div> 
    </div>
    
    <!-- Pick Services -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <input type='text' name="services" class="" id="services-tags" ng-model="servicesRequired">
            <div id="autocomplete-container-two">
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>What are the main services you offer to clients? <strong>You can only choose services in the dropdown menu.</strong></p>            
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="existingServices"></div>
        <div class="skill-set-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="existingServices">
            <p>Your list of existing tags are displayed below: <br><strong>(leave the input field blank to keep the tags unchanged)</strong></p>
            <ul ng-repeat="services in existingServices  track by $index">
                <li><strong>{[{services}]}</strong></li>                
            </ul>
        </div> 
    </div>    
    
    <!-- AVAILABLILTY-->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-availability mdl-selectfield">
                <select class="browser-default" id="select-your-availability" ng-init="availabilitySelected = availabilitySelected || '' " ng-model="availabilitySelected" ng-options="availability as availability.name for availability in availabilityOptions track by availability.id" required>
                    <option value='' disabled>Availability to work as a freelancer *</option>
                </select>
            </div>
        </div>
    </div>
    
    <!-- RATE EXPERIENCE LEVEL -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-experience-level mdl-selectfield">
                <select class="browser-default" id="select-experience-level" ng-init="experienceLevelSelected = experienceLevelSelected || '' " ng-model="experienceLevelSelected" ng-options="experienceLevel as experienceLevel.name for experienceLevel in experienceLevelOptions track by experienceLevel.id" required>
                    <option value='' disabled>Rate your Experience Level *</option>
                </select>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="experienceLevelSelected.desc">
            <p>{[{experienceLevelSelected.desc}]}</span></p>
        </div> 
    </div>                                   
    <hr>
    
    <div class="mdl-grid">
        <div class="education">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h6>Education</h6>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.schoolDesc.$invalid && !becomeFreelancerForm.schoolDesc.$pristine && submitted }">
                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.schoolDesc.$invalid && !becomeFreelancerForm.schoolDesc.$pristine && submitted }">
                    <label class="mdl-textfield__label" for="schoolDesc">Name of College, University or Academic Program *</label>
                    <textarea class="mdl-textfield__input" name="schoolDesc" id="schoolDesc" type="text"  ng-model="schoolDesc" row="6"  ng-trim="false" maxlength="150" required></textarea>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.schoolDescOne.$invalid && !becomeFreelancerForm.schoolDescOne.$pristine && submitted }">
                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.schoolDescOne.$invalid && !becomeFreelancerForm.schoolDescOne.$pristine && submitted }">
                    <label class="mdl-textfield__label" for="schoolDescOne">Other Qualifications</label>
                    <textarea class="mdl-textfield__input" name="schoolDescOne" id="schoolDescOne" type="text"  ng-model="schoolDescOne"  ng-trim="false" maxlength="150" row="6"></textarea>
                </div>
            </div>
        </div>        
    </div>
    
    <div class="mdl-grid">
        <div class="employment-history">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h6>Work Experience</h6>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.companyName.$invalid && !becomeFreelancerForm.companyName.$pristine && submitted }">
                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.companyName.$invalid && !becomeFreelancerForm.companyName.$pristine && submitted }">
                    <label class="mdl-textfield__label" for="companyName">Company</label>
                    <input class="mdl-textfield__input" name="companyName" id="companyName" type="text"  ng-model="companyName"  ng-trim="false" maxlength="50"></input>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.titleName.$invalid && !becomeFreelancerForm.titleName.$pristine && submitted }">
                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.titleName.$invalid && !becomeFreelancerForm.titleName.$pristine && submitted }">
                    <label class="mdl-textfield__label" for="titleName">Title</label>
                    <input class="mdl-textfield__input" name="titleName" id="titleName" type="text" ng-trim="false" maxlength="70" ng-model="titleName"></input>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.empHist.$invalid && !becomeFreelancerForm.empHist.$pristine && submitted }">
                <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.empHist.$invalid && !becomeFreelancerForm.empHist.$pristine && submitted }">
                    <label class="mdl-textfield__label" for="empHist">Overview of your work experience.</label>
                    <textarea class="mdl-textfield__input" name="empHist" id="empHist" type="text"   ng-trim="false" maxlength="800" ng-model="empHist" rows= "6"></textarea>
                </div>
            </div>
        </div>        
    </div>
    <hr>
    
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>Bring your reputation with you! Link accounts from these sites to tell us more about you.</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.linkOne.$invalid && !becomeFreelancerForm.linkOne.$pristine && submitted }">
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.linkOne.$invalid && !becomeFreelancerForm.linkOne.$pristine && submitted }">
                <label class="mdl-textfield__label" for="linkOne">Link to your portfolio/online presence *</label>
                <input class="mdl-textfield__input" name="linkOne" id="linkOne" type="url"  ng-model="linkOne" required></input>
                <p ng-show="becomeFreelancerForm.linkOne.$invalid && !becomeFreelancerForm.linkOne.$pristine && submitted" class="help-block">This field is required.</p>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.linkTwo.$invalid && !becomeFreelancerForm.linkTwo.$pristine && submitted }">
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.linkTwo.$invalid && !becomeFreelancerForm.linkTwo.$pristine && submitted }">
                <label class="mdl-textfield__label" for="linkTwo">Link to your Social Profile (Linkedin, Twitter, etc)</label>
                <input class="mdl-textfield__input" name="linkTwo" id="linkTwo" type="url"  ng-model="linkTwo"></input>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.linkThree.$invalid && !becomeFreelancerForm.linkThree.$pristine && submitted }">
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.linkThree.$invalid && !becomeFreelancerForm.linkThree.$pristine && submitted }">
                <label class="mdl-textfield__label" for="linkThree">Link to your Github/Bitbucket account</label>
                <input class="mdl-textfield__input" name="linkThree" id="linkThree" type="url"  ng-model="linkThree"></input>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : becomeFreelancerForm.linkFour.$invalid && !becomeFreelancerForm.linkFour.$pristine && submitted }">
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : becomeFreelancerForm.linkFour.$invalid && !becomeFreelancerForm.linkFour.$pristine && submitted }">
                <label class="mdl-textfield__label" for="linkFour">Any other link...</label>
                <input class="mdl-textfield__input" name="linkFour" id="linkFour" type="url"  ng-model="linkFour"></input>
            </div>
        </div>        
    </div>
    
    <!-- MDL Spinner Component -->
    <div ng-show="showLoading" class="mdl-spinner mdl-js-spinner is-active"></div>
    <!-- SUBMIT BUTTON -->
    <p class="mandatory-fields-text">* These fields are mandatory.</p>
    <div class="mdl-grid" id="submit-form-button">
        
        <button type="submit" ng-disabled="disableSubmit"  class="project-submit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored  mdl-js-ripple-effect">
        Update
        </button>
        
    </div>
    <div class="mdl-grid" id="delete-form-button">
        <a ng-href="#" ng-click="deleteUser($event);" class="project-delete-button mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
            Delete
        </a>
    </div>
    
    <!-- form submit error message -->
    <div class="form-error-message" ng-show="submitError">
        <p>Woops!! Something went wrong. Invalid fields are marked with a bliking red colour.</p>
    </div>
    <div class="form-error-message" ng-show="keyisnotunique">
        <p>The key you have entered has been previously used by you. Please enter a unique key and try again.</p>
    </div>
    <!-- form submit success message -->
    <div class="form-success-message" ng-show="submitSuccess">
        <p>Form Successfully submitted! Your profile has been updated. Goodluck!</p>
        <p>Click here to view your profile <a href="/users/{[{userID}]}">here</a>. Find <a href="/searchprojects">projects</a></p>
    </div>      
</form>