<form name="editProjectForm" ng-submit="updateForm(editProjectForm.$valid)" ng-init="projectid = '{{project.id}}'">
    <!-- CREDENTIALS -->
    <!-- EMAIL -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>Authentication</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : editProjectForm.email.$invalid && !editProjectForm.email.$pristine && submitted }">
                <label class="mdl-textfield__label" for="emailverify">Email Address</label>
                <input type="email" name="emailverify" id="emailverify" class="mdl-textfield__input" ng-model="emailverify" ng-minlength="5" required>
            </div>
        </div>
        <div class="help-text-container-imp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p><strong>Please enter the email address associated with this project.</strong></p>
            <p ng-show="editProjectForm.emailverify.$invalid && !editProjectForm.emailverify.$pristine && submitted" class="help-block">Not a valid email address.</p>
            <p ng-show="editProjectForm.emailverify.$error.minlength  && submitted" class="help-block">Please enter an email address. This is a required field.</p>
        </div>
    </div>

    <!-- PASSWORD -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : editProjectForm.phoneNumber.$invalid && !editProjectForm.phoneNumber.$pristine && submitted }">
                <label class="mdl-textfield__label" for="passwordverify">Unique Key</label>
                <input type="password" name="passwordverify" id="passwordverify" class="mdl-textfield__input" ng-model="passwordverify" ng-minlength="6" ng-maxlength="20" required>
            </div>
        </div>
        <div class="help-text-container-imp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p><strong>Please enter the unique key associated with this project.</strong></p>
            <p ng-show="editProjectForm.passwordverify.$error.minlength" class="help-block">Unique Key should be at least 6 characters long.</p>
            <p ng-show="editProjectForm.passwordverify.$error.maxlength" class="help-block">Unique Key should be less than 20 characters long.</p>
        </div>
    </div>
    <hr>
    <!-- CATEGORY SELECT -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-category mdl-selectfield">
                <select class="browser-default" id="select-category" ng-init="categorySelected = categorySelected" ng-model="categorySelected" ng-options="category as category.name for category in categoryList track by category.id" required>
                    <option value='' disabled>Please Choose a Category</option>
                </select>
            </div>
        </div>
    </div>
    <hr>
    <!-- PROJECT TITLE -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>About your project</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : editProjectForm.title.$invalid && !editProjectForm.title.$pristine && submitted }">
                <label class="mdl-textfield__label" for="title">Name your job posting</label>
                <input type="text" name="title" id="title" class="mdl-textfield__input" ng-model="title" ng-minlength="20" ng-maxlength="60" ng-trim="false" maxlength="60" required>                
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>This is the first thing contractors see, so keep it succinct and descriptive. A concise, yet specific job name will help attract qualified applicants.<br><span>Example. Looking for a web developer</span></p>
            <p ng-show="(editProjectForm.title.$viewValue.length) > 0"><strong>{[{60 - editProjectForm.title.$viewValue.length}]} characters left</strong></p>
            <p ng-show="editProjectForm.title.$invalid && !editProjectForm.title.$pristine && submitted" class="help-block">Project Title is required.</p>
            <p ng-show="editProjectForm.title.$error.minlength" class="help-block">Project title should be at least a 20 characters.</p>
            <p ng-show="editProjectForm.title.$error.maxlength" class="help-block">Project title cannot be more than 60 characters.</p>
        </div>
    </div>

    <!-- PROJECT DESCRIPTION -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : editProjectForm.description.$invalid && !editProjectForm.description.$pristine && submitted }">
                <label class="mdl-textfield__label" for="description">Describe the work to be done</label>
                <textarea class="mdl-textfield__input" name="description" id="description" type="text"  ng-model="description" rows= "12" ng-trim="false" maxlength="3000" ng-minlength="200" ng-maxlength="3000" required></textarea>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <ul>
                <li>A short 1-2 sentence job overview</li>
                <li>What you need the freelancer to do</li>
                <li>Key skills needed to do the job well</li>
                <li>What you think a successful engagement will look like for you as a client</li>
                <li>Why the right freelancer should be interested in the job</li>
                <li>Any questions or info you want the freelancer to include in their application</li>
            </ul>
            <p ng-show="(editProjectForm.description.$viewValue.length) > 0"><strong>{[{3000 - editProjectForm.description.$viewValue.length}]} characters left</strong></p>
            <p ng-show="editProjectForm.description.$invalid && !editProjectForm.description.$pristine && submitted" class="help-block">Project Description is required.</p>
            <p ng-show="editProjectForm.description.$error.minlength" class="help-block">Project description should be at least a 200 characters.</p>
            <p ng-show="editProjectForm.description.$error.maxlength" class="help-block">Project description cannot be more than 5000 characters.</p>
        </div>
    </div>

    <!-- Pick Skills -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <ul id="skills-tags">
                {% for key, val in project.local.skillset|reverse %}
                <li>{{ val }}</li>
                {% endfor %}
            </ul>

            <div id="autocomplete-container">
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>This field will help freelancers find your project based on their skills. It is highly recommended to fill this out.</p>
        </div>
    </div>

    <hr>
    <!-- RATE AND AVAILABLILTY-->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>Freelancer preferences</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-pay-rate mdl-selectfield">
                <select class="browser-default" id="select-pay-rate" ng-init="payRateSelected = payRateSelected" ng-model="payRateSelected" ng-options="payRate as payRate.name for payRate in payRateOptions track by payRate.id" required>
                    <option value='' disabled>How would you like to pay ?</option>
                </select>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="payRateSelected.desc">
            <p>{[{payRateSelected.desc}]}</span></p>
        </div>
    </div>

    <!-- DESIRED EXPERIENCE LEVEL -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-experience-level mdl-selectfield">
                <select class="browser-default" id="select-experience-level" ng-init="experienceLevelSelected = experienceLevelSelected" ng-model="experienceLevelSelected" ng-options="experienceLevel as experienceLevel.name for experienceLevel in experienceLevelOptions track by experienceLevel.id" required>
                    <option value='' disabled>Desired Experience Level</option>
                </select>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="experienceLevelSelected.desc">
            <p>{[{experienceLevelSelected.desc}]}</span></p>
        </div>
    </div>

    <!-- DURATION OF THE JOB -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-duration mdl-selectfield">
                <select class="browser-default" id="select-duration" ng-init="durationSelected = durationSelected" ng-model="durationSelected" ng-options="duration as duration.name for duration in durationOptions track by duration.id" required>
                    <option value='' disabled>How long do you expect the job to last?</option>
                </select>
            </div>
        </div>
    </div>
    <hr>

    <!-- CONTACT DETAILS -->
    <!-- NEW EMAIL -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>Account &amp; Contact Details</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : editProjectForm.email.$invalid && !editProjectForm.email.$pristine && submitted }">
                <label class="mdl-textfield__label" for="email">New Email Address</label>
                <input type="email" name="email" id="email" class="mdl-textfield__input" ng-model="email" ng-minlength="5">
            </div>
        </div>
        <div class="help-text-container-imp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p><strong>Leave blank if you do not wish to change your email. Entering an email address will replace your current email address.</strong></p>
            <p ng-show="editProjectForm.email.$invalid && !editProjectForm.email.$pristine && submitted" class="help-block">Not a valid email address.</p>
            <p ng-show="editProjectForm.email.$error.minlength  && submitted" class="help-block">Please enter an email address. This is a required field.</p>
        </div>
    </div>

    <!-- CREDENTIALS -->
    <!-- NEW PASSWORD -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : editProjectForm.phoneNumber.$invalid && !editProjectForm.phoneNumber.$pristine && submitted }">
                <label class="mdl-textfield__label" for="password">New Unique Key</label>
                <input type="password" name="password" id="password" class="mdl-textfield__input" ng-model="password" ng-minlength="6" ng-maxlength="20">
            </div>
        </div>
        <div class="help-text-container-imp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p><strong>Leave blank if you do not wish to change the unique key. Entering a new unique key will replace your current unique key.</strong></p>
            <p ng-show="editProjectForm.password.$error.minlength" class="help-block">Unique Key should be at least 6 characters long.</p>
            <p ng-show="editProjectForm.password.$error.maxlength" class="help-block">Unique Key should be at more than 20 characters long.</p>
        </div>
    </div>

    <!-- PHONE NUMBER -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : editProjectForm.phoneNumber.$invalid && !editProjectForm.phoneNumber.$pristine && submitted }">
                <label class="mdl-textfield__label" for="phoneNumber">Phone Number</label>
                <input type="number" name="phoneNumber" id="phoneNumber" class="mdl-textfield__input" ng-model="phoneNumber" ng-minlength="10">
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>Please enter a valid phone number for the freelancer to contact you. <strong>This field is optional.</strong></p>
            <p ng-show="editProjectForm.phoneNumber.$invalid && !editProjectForm.phoneNumber.$pristine && submitted" class="help-block">Not a valid number.</p>
            <p ng-show="editProjectForm.phoneNumber.$error.minlength && submitted" class="help-block">Phone number should be at least 10 digits long</p>
        </div>
    </div>
    <hr>

    <!-- MDL Spinner Component -->
    <div ng-show="showLoading" class="mdl-spinner mdl-js-spinner is-active"></div>
    <!-- SUBMIT BUTTON -->
    <div class="mdl-grid" id="submit-form-button">
        <button type="submit" ng-disabled="disableSubmit"  class="project-submit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored  mdl-js-ripple-effect">
        Update
        </button>
    </div>

    <!-- form submit error message -->
    <div class="form-error-message" ng-show="submitError">
        <p>Woops!! Something went wrong. Please view the form fields for error message.</p>
    </div>
    <div class="form-error-message" ng-show="incorrectCreds">
        <p>Please check your email/unique key combination.</p>
    </div>
    <!-- form submit success message -->
    <div class="form-success-message" ng-show="submitSuccess">
        <p>Project Successfully updated!!</p>
        <p>Go back to <a href="/">Home</a>. Post <a href="/postproject">another project</a></p>
    </div>
</form>
