<div class="mdl-layout mdl-js-layout">
    <header class="header-jumbotron mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <a href="/"><span id="website-logo" class="mdl-layout-title"><img src="/images/logos/logodesigninitials.png" width="52"></span></a>
            <span for="website-logo" class="mdl-tooltip mdl-tooltip--large">WorkDesk</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">              
                {% if userid %}
                <a class="mdl-navigation__link navbar-link" href="/searchprojects">Requested Gigs</a>
                <a class="mdl-navigation__link navbar-link" href="/searchfreelancers">Find Freelancers</a>
                <a class="mdl-navigation__link navbar-link" href="/postgigs">Manage Gigs</a>                
                {% else %}
                <a class="mdl-navigation__link navbar-link" href="/searchgigs">Find Gigs</a>
                <a class="mdl-navigation__link navbar-link" href="/searchfreelancers">Find Freelancers</a>
                <a class="mdl-navigation__link navbar-link" href="/postproject">Request a Gig</a>
                {% endif %}
                {% if userid %}
                <a class="mdl-navigation__link navbar-link" href="/users/{{userid}}">View Profile</a>
                <a class="mdl-navigation__link navbar-link" href="/dashboard">Dashboard</a>
                {% else %}
                <a class="mdl-navigation__link navbar-link" href="/signin">Sign-In</a>
                <a class="mdl-navigation__link" href="/freelancersignup">
                    <button class="mdl-button mdl-js-button mdl-button--primary"><strong>Become a Freelancer</strong></button>
                    <img class="free-logo-image" src="../../images/free-logo-1.png" />
                </a>
                {% endif %}
            </nav>
        </div>
        <div class="mdl-layout__header-row">
            <h1 class="header-jumbotron-text">Where will great ideas take you?</h1>
        </div>
        <div class="mdl-layout__header-row">
            <h4 class="header-jumbotron-text">Choose from the best freelancers in Vancouver. Create the next big thing.</h4>
        </div>
        <div class="mdl-layout__header-row">
            <div class="button-container">
                {% if userid %}
                <!--<a class="jumbotron-button" href="/searchprojects"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Requested Gigs!</button></a>-->
                <a class="jumbotron-button" href="/postgigs"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">Create Gigs!</button></a>
                {% else %}
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect how-it-works-btn">How it works</button>
                <a class="jumbotron-button-two" href="/searchfreelancers"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Search Freelancers!</button></a>
                <a class="jumbotron-button-two" href="/searchgigs"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">Search Gigs!</button></a>
                {% endif %}
            </div>
        </div>
        <div class="mdl-layout__header-row"></div>
        <div class="mdl-layout__header-row"></div>
    </header>
    <div class="mdl-layout__drawer">
        <span id="mobile-website-logo" class="mobile-view-logo-image mdl-layout-title"><img src="/images/logos/logodesigninitials.png" width="52"><p><strong>WorkDesk</strong></p></span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/aboutus">About Us</a>
            <a class="mdl-navigation__link" href="/searchgigs">Find Gigs</a>            
            <a class="mdl-navigation__link" href="/searchprojects">Requested Gigs</a>
            <a class="mdl-navigation__link" href="/searchfreelancers">Find Freelancers</a>
            {% if userid %}
            <a class="mdl-navigation__link" href="/postgigs">Manage Gigs</a>
            {% else %}
            <a class="mdl-navigation__link" href="/postproject">Request a Gig</a>
            <a class="mdl-navigation__link" href="/postgigs">Create a Gig</a>            
            <a class="mdl-navigation__link" href="/freelancersignup">Become a Freelancer</a>
            <a class="mdl-navigation__link" href="/signin">Sign-In</a>
            {% endif %}           
            <hr>
             {% if userid %}
                <a class="mdl-navigation__link" href="/dashboard">Dashboard</a>
                <a class="mdl-navigation__link" href="/logout">Logout</a>
            {% endif %}
            
            <!--<a class="mdl-navigation__link" href="/blog">Blog</a>
            <a class="mdl-navigation__link" href="/FAQs">FAQs</a>-->
        </nav>
    </div>
    <main class="mdl-layout__content">
