<form name="postGigsForm" id="post-gig-form" ng-submit="submitGigOne(postGigsForm.$valid)" ng-init="userID = '{{userid}}'">
    
    <!-- CONTACT DETAILS -->
     <!-- TITLE -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone"  ng-class="{ 'validation-error' : postGigsForm.title.$invalid && !postGigsForm.title.$pristine && submitted }">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : postGigsForm.title.$invalid && !postGigsForm.title.$pristine && submitted }">
                <label class="mdl-textfield__label" for="title">Enter a title</label>
                <input type="text" name="title" id="title" class="mdl-textfield__input" ng-model="title" ng-trim="false" maxlength="50" required>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>Please enter a title.</p>
            <p><strong>Please start your title with "I will... do something for you". Example. I will build a website for you.</strong></p>
            <p ng-show="(postGigsForm.title.$viewValue.length) > 0"><strong>{[{50 - postGigsForm.title.$viewValue.length}]} characters left</strong></p>
        </div>
    </div>
    <hr>    
    <!-- OVERVIEW -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label gig-description" ng-class="{ 'has-error' : postGigsForm.description.$invalid && !postGigsForm.description.$pristine && submitted }">
                <label class="mdl-textfield__label" for="description">Description</label>
                <textarea class="mdl-textfield__input" name="description" id="description" type="text"  ng-trim="false" maxlength="500" ng-model="description" rows= "6" ng-maxlength="500" required></textarea>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : postGigsForm.description.$invalid && !postGigsForm.description.$pristine && submitted }">
            <p>Use this space above to describe the process/steps of the service you provide.</p>
            <p ng-show="(postGigsForm.description.$viewValue.length) > 0"><strong>{[{500 - postGigsForm.description.$viewValue.length}]} characters left</strong></p>
            <p ng-show="postGigsForm.description.$invalid && !postGigsForm.overview.$pristine && submitted" class="help-block">Description is required.</p>
            <p ng-show="postGigsForm.description.$error.maxlength" class="help-block">Description cannot be more than 1000 characters.</p>
        </div>
    </div>
    <hr>    
    <!-- IMAGE UPLOAD -->
    <div class="mdl-grid">
        <div class="image-upload mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <i class="material-icons">file_upload</i>
            <input type="file" id="uploadImage" name="pic" accept="image/*" required>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>Add an image relevant to the gig you are offering. A picture is worth a thousand words.</p>
            <p>It will only take a second. Little effort will go a long way.<a href="https://images.google.com/" target="blank">Google Images</a></p>
            <p>Current Image: </p>
            <img ng-src='{[{imageURL}]}' width="200px"/>
        </div>
    </div>
    <hr>
    <!-- COST -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : postGigsForm.cost.$invalid && !postGigsForm.cost.$pristine && submitted }">
                <label class="mdl-textfield__label" for="cost">Enter an estimate cost.</label>
                <input type="number" name="cost" id="cost" class="mdl-textfield__input" ng-model="cost" min="0" max="999" ng-maxlength="3" required>
                <div class="pay-frequency mdl-selectfield">
                    <select class="select-pay-frequency" ng-init="payRateSelected = payRateSelected || '' " ng-model="payRateSelected" ng-options="payRate as payRate.name for payRate in payRateOptions track by payRate.id" required>
                        <option value='' disabled>Rate of payments *</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : postGigsForm.cost.$invalid && !postGigsForm.cost.$pristine && submitted }">
            <p>Please enter a rough estimate of the cost for this gig.</p>
            <p ng-show="postGigsForm.cost.$invalid && !postGigsForm.phoneNumber.$pristine && submitted" class="help-block">Not a valid number.</p>
            <p ng-show="postGigsForm.cost.$error.maxlength || postGigsForm.cost.$invalid" class="help-block">Cost has to be between $0 and $999.</p>
        </div>        
    </div>
    <!-- Pick Category -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <input type='text' name="services" class="" id="services-tags" ng-model="servicesRequired">
            <div id="autocomplete-container-two">
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>What category does your gig fall under?</p>
        </div> 
    </div>    
    <!-- MDL Spinner Component -->
    <div ng-show="showLoading" class="mdl-spinner mdl-js-spinner is-active"></div>
    <!-- SUBMIT BUTTON -->
    <div class="mdl-grid" id="submit-form-button">
        <button type="submit" ng-disabled="disableSubmit"  class="project-submit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored  mdl-js-ripple-effect">
        Update
        </button>        
    </div>
    <div class="mdl-grid" id="delete-form-button">
        <a ng-href="#" ng-click="deleteUser($event);" class="project-delete-button mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
            Delete
        </a>
    </div>
    
    <!-- form submit error message -->
    <div class="form-error-message" ng-show="submitError">
        <p>Woops!! Please view the form fields for error message. <strong>Note that you can only post a maxmum of three gigs</strong></p>
    </div>
    <!-- form submit success message -->
    <div class="form-success-message" ng-show="submitSuccess">
        <p>Form Successfully submitted! Your gig has been created. Goodluck!</p>
        <p>Create <a href="/postgigs">another gig</a> or browse <a href="/searchprojects">requested gigs</a>.</p>
    </div>      
</form>