<form name="postProjectForm" ng-submit="submitForm(postProjectForm.$valid)">
    <!-- CONTACT DETAILS -->
    <!-- EMAIL -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>Account &amp; Contact Details</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : postProjectForm.email.$invalid && !postProjectForm.email.$pristine && submitted }">
                <label class="mdl-textfield__label" for="email">Email Address</label>
                <input type="email" name="email" id="email" class="mdl-textfield__input" ng-model="email" required>
            </div>
        </div>
        <div class="help-text-container-imp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : postProjectForm.email.$invalid && !postProjectForm.email.$pristine && submitted }">
            <p>Please enter an email address for the freelancer to contact you. <strong>Your email address will also be used as a username for deleting/editing this post later if required.</strong></p>
            <p ng-show="postProjectForm.email.$invalid && !postProjectForm.email.$pristine && submitted" class="help-block">Not a valid email address.</p>
        </div>        
    </div>    
    <!-- CREDENTIALS -->
    <!-- PASSWORD -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : postProjectForm.phoneNumber.$invalid && !postProjectForm.phoneNumber.$pristine && submitted }">
                <label class="mdl-textfield__label" for="password">Unique Key</label>
                <input type="password" name="password" id="password" class="mdl-textfield__input" ng-model="password" ng-minlength="6" ng-maxlength="20" required>
            </div>
        </div>
        <div class="help-text-container-imp mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : postProjectForm.phoneNumber.$invalid && !postProjectForm.phoneNumber.$pristine && submitted }">
            <p><strong>You will need the email address provided by you above with this unique key to delete and edit this post in the future.</strong></p>
            <p ng-show="postProjectForm.password.$error.minlength" class="help-block">Unique Key should be at least 6 characters long.</p>
            <p ng-show="postProjectForm.password.$error.maxlength" class="help-block">Unique Key should be at more than 20 characters long.</p>
        </div>        
    </div>    
    <!-- PHONE NUMBER -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : postProjectForm.phoneNumber.$invalid && !postProjectForm.phoneNumber.$pristine && submitted }">
                <label class="mdl-textfield__label" for="phoneNumber">Phone Number</label>
                <input type="number" name="phoneNumber" id="phoneNumber" class="mdl-textfield__input" ng-model="phoneNumber">
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : postProjectForm.phoneNumber.$invalid && !postProjectForm.phoneNumber.$pristine && submitted }">
            <p>Please enter a valid phone number for the freelancer to contact you. <strong>This field is optional.</strong></p>
            <p ng-show="postProjectForm.phoneNumber.$invalid && !postProjectForm.phoneNumber.$pristine && submitted" class="help-block">Not a valid number.</p>
        </div>        
    </div>
    <hr>
    <!-- CATEGORY SELECT -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>About your project</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-category mdl-selectfield">
                <select class="browser-default" id="select-category" ng-model="categorySelected" ng-options="category as category.name for category in categoryList" required>
                    <option value='' disabled>Please Choose a Category</option>
                </select>
            </div>
        </div>
    </div>
    <!-- PROJECT TITLE -->
    <div class="mdl-grid">        
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" ng-class="{ 'has-error' : postProjectForm.title.$invalid && !postProjectForm.title.$pristine && submitted }">
                <label class="mdl-textfield__label" for="title">Name your job posting</label>
                <input type="text" name="title" id="title" class="mdl-textfield__input" ng-model="title" ng-trim="false" maxlength="200" ng-maxlength="200" required>                
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : postProjectForm.title.$invalid && !postProjectForm.title.$pristine && submitted }">
            <p>This is the first thing contractors see, so keep it succinct and descriptive. A concise, yet specific job name will help attract qualified applicants.<br><span>Example. Looking for a web developer</span></p>
            <p ng-show="(postProjectForm.title.$viewValue.length) > 0"><strong>{[{200 - postProjectForm.title.$viewValue.length}]} characters left</strong></p>
            <p ng-show="postProjectForm.title.$invalid && !postProjectForm.title.$pristine && submitted" class="help-block">Project Title is required.</p>
            <p ng-show="postProjectForm.title.$error.maxlength" class="help-block">Project title cannot be more than 200 characters.</p>
        </div>        
    </div>
    
    <!-- PROJECT DESCRIPTION -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label" ng-class="{ 'has-error' : postProjectForm.description.$invalid && !postProjectForm.description.$pristine && submitted }">
                <label class="mdl-textfield__label" for="description">Describe the work to be done</label>
                <textarea class="mdl-textfield__input" name="description" id="description" type="text" ng-trim="false" maxlength="2000" ng-model="description" rows= "12" ng-maxlength="2000" required></textarea>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-class="{ 'validation-error' : postProjectForm.description.$invalid && !postProjectForm.description.$pristine && submitted }">
            <ul>
                <li>A short 1-2 sentence job overview</li>
                <li>What you need the freelancer to do</li>
                <li>Key skills needed to do the job well</li>
                <li>What you think a successful engagement will look like for you as a client</li>
                <li>Why the right freelancer should be interested in the job</li>
                <li>Any questions or info you want the freelancer to include in their application</li>
            </ul>
            <p ng-show="(postProjectForm.description.$viewValue.length) > 0"><strong>{[{2000 - postProjectForm.description.$viewValue.length}]} characters left</strong></p>
            <p ng-show="postProjectForm.description.$invalid && !postProjectForm.description.$pristine && submitted" class="help-block">Project Description is required.</p>
            <p ng-show="postProjectForm.description.$error.maxlength" class="help-block">Project description cannot be more than 2000 characters.</p>
        </div>
    </div>
    
    <!-- Pick Skills -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <input type='text' name="skillset" class="" id="skills-tags" ng-model="skillsRequired">
            <div id="autocomplete-container">
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <p>This field will help freelancers find your project based on their skills. It is highly recommended to fill this out.</p>
            <p><strong>Example: Photoshop, Javascript, Outdoor Photography, Financial Analyst, Adwords, SEO, etc.</strong></p>
        </div> 
    </div>
                                
    <hr>
    <!-- RATE AND AVAILABLILTY-->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h6>Freelancer preferences</h6>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-pay-rate mdl-selectfield">
                <select class="browser-default" id="select-pay-rate" ng-model="payRateSelected" ng-options="payRate as payRate.name for payRate in payRateOptions" required>
                    <option value='' disabled>How would you like to pay ?</option>
                </select>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="payRateSelected.desc">
            <p>{[{payRateSelected.desc}]}</span></p>
        </div>
    </div>
    
    <!-- DESIRED EXPERIENCE LEVEL -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-experience-level mdl-selectfield">
                <select class="browser-default" id="select-experience-level" ng-model="experienceLevelSelected" ng-options="experienceLevel as experienceLevel.name for experienceLevel in experienceLevelOptions" required>
                    <option value='' disabled>Desired Experience Level</option>
                </select>
            </div>
        </div>
        <div class="help-text-container mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone" ng-show="experienceLevelSelected.desc">
            <p>{[{experienceLevelSelected.desc}]}</span></p>
        </div> 
    </div>
    
    <!-- DURATION OF THE JOB -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-duration mdl-selectfield">
                <select class="browser-default" id="select-duration" ng-model="durationSelected" ng-options="duration as duration.name for duration in durationOptions" required>
                    <option value='' disabled>How long do you expect the job to last?</option>
                </select>
            </div>
        </div> 
    </div>
    <hr>    
    <!-- MDL Spinner Component -->
    <div ng-show="showLoading" class="mdl-spinner mdl-js-spinner is-active"></div>
    <!-- SUBMIT BUTTON -->
    <div class="mdl-grid" id="submit-form-button">
        <button type="submit" ng-disabled="disableSubmit"  class="project-submit-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored  mdl-js-ripple-effect">
        Submit
        </button>
    </div>
    
    <!-- form submit error message -->
    <div class="form-error-message" ng-show="submitError">
        <p>Woops!! Something went wrong. Please view the form fields for error message.</p>
    </div>
    <div class="form-error-message" ng-show="keyisnotunique">
        <p>The key you have entered has been previously used by you. Please enter a unique key and try again.</p>
    </div>
    <!-- form submit success message -->
    <div class="form-success-message" ng-show="submitSuccess">
        <p>Form Successfully submitted! Your project has been posted. Goodluck!</p>
        <p>Go back to <a href="/">Home</a>. Request <a href="/postproject">another gig</a></p>
    </div>      
</form>