{% extends 'layout.html' %}

{% block title %}{% parent %} - About Us{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/aboutUs.css">
{% endblock head %}

{% block content %}
<!-- How it works section -->
<div class="mdl-grid how-it-works-container">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <h1 class="venture-title">What is <span>WorkDesk?</span></h1>
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <p class="venture-description"><strong>WorkDesk</strong> is the local solution for all your digital needs. Unlike existing platforms, WorkDesk is built around trust and community. With our geographic filtering, and approval systems we guarantee quality and security. We encourage face-to-face communication, and boast on the local availability of our freelancers. We want to create a community of creative professionals one gig at a time right here in our very own Vancouver.</p>
    <hr>
    </div>
    
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <h1 class="how-it-works-title">How it works</h1>
        <h5 class="how-it-works-title">If you have a project:</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-one-container">
            <div class="guide-one-image">
                <img src="../../images/how-it-works/user.png" />
            </div>
            <div class="guide-one-text">
                <h4 class="guide-one-title">1. Hire Local</h4>
                <p class="guide-one-paragraph">Browse profiles of freelancers to hire your favorite, or browse gigs that meet your needs. <br>Cannot find what you are looking for? Request a gig and a freelancer will get in touch with you.</p>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-two-container">
            <div class="guide-two-image">
                <img src="../../images/how-it-works/handshake.png" />
            </div>
            <div class="guide-two-text">
                <h4 class="guide-two-title">2. Establish Trust</h4>
                <p class="guide-two-paragraph">Meet your freelancer face-to-face, get to know the person, establish trust, understand their skillset, and work closely with your freelancer to bring your idea to reality.</p>
            </div>
        </div>        
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-three-container">
            <div class="guide-three-image">
                <img src="../../images/how-it-works/createlocal.png" />
            </div>
            <div class="guide-three-text">
                <h4 class="guide-three-title">3. Create Local</h4>
                <p class="guide-three-paragraph">Best work happens when people meet in-person. Meet at a coffee shop. Exchange ideas. It is not just about getting work done, it is about innovating by creating a sustainable professional network in your city - Vancouver</p>
            </div>
        </div>        
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <h5 class="how-it-works-title-two">If you are a freelancer:</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-one-container">
            <div class="guide-one-image">
                <img src="../../images/how-it-works/community.png" />
            </div>
            <div class="guide-one-text">
                <h4 class="guide-one-title">1. Join the community</h4>
                <p class="guide-one-paragraph">Become a part of a growing community of entrepreneurial freelancers in Vancouver. Learn, mentor and grow this community of creative professionals.</p>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-two-container">
            <div class="guide-two-image">
                <img src="../../images/how-it-works/collaborate.png" />
            </div>
            <div class="guide-two-text">
                <h4 class="guide-two-title">2. Collaborate</h4>
                <p class="guide-two-paragraph">List services you can offer, browse gigs requested by vancouverites. Find other freelancers in your community & collaborate with professionals from different fields.</p>
            </div>
        </div>        
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-three-container">
            <div class="guide-three-image">
                <img src="../../images/how-it-works/getpaid.png" />
            </div>
            <div class="guide-three-text">
                <h4 class="guide-three-title">3. Get Paid</h4>
                <p class="guide-three-paragraph">Build your portfolio, level-up your skills and get paid for your work. You get 100% of the money you earn. We DO NOT charge any commission.</p>
            </div>
        </div>
    </div>                      
</div>
<div class="mdl-grid">
  <div class="form-heading">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
          <h3>Our Team</h3>
      </div>
  </div>
</div>
<div class="our-team-container">
    <div class="mdl-grid">    
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="card-square-1 mdl-card mdl-shadow--2dp">
                <div class="js-mdl-cards mdl-card__title mdl-card--expand utkarsh-card"></div>
                <div class="mdl-card__supporting-text aboutUs-blurb">
                    <b>Utkarsh Saxena</b>.<br> Founder. Ice Cream lover. UBC Engineering.
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="card-square-5 mdl-card mdl-shadow--2dp">
            <div class="js-mdl-cards mdl-card__title mdl-card--expand lucas-card"></div>
            <div class="mdl-card__supporting-text aboutUs-blurb">
                <b>Lucas Solmes</b>.<br> Growthhacker. UBC Sauder.
            </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="card-square-2 mdl-card mdl-shadow--2dp">
                <div class="js-mdl-cards mdl-card__title mdl-card--expand arabelle-card"></div>
                <div class="mdl-card__supporting-text aboutUs-blurb">
                    <b>Arabelle Hou</b>.<br> Sr. Developer. Foodie. UBC Engineering.
                </div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="card-square-3 mdl-card mdl-shadow--2dp">
                <div class="js-mdl-cards mdl-card__title mdl-card--expand jordan-card"></div>
                <div class="mdl-card__supporting-text aboutUs-blurb">
                    <b>Jordan Schalm</b>.<br> Sr. Developer. Beanie-wearer. UBC Engineering.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mdl-grid">
  <div class="form-heading-two">
      <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
          <h3>Mentorship & Support</h3>
      </div>
  </div>
</div>
<div class="support-container">
    <div class="mdl-grid">    
        <div class="mdl-cell mdl-cell--12-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
            <div class="card-square-1 mdl-card mdl-shadow--2dp">
                <div class="js-mdl-cards mdl-card__title mdl-card--expand launchpad-card"></div>
                <div class="mdl-card__supporting-text aboutUs-blurb">
                    <a href="http://www.ubclaunchpad.com/" target="_blank"><b>UBC Launchpad</b></a>
                </div>
            </div>
        </div>
</div>
{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="js/myscript.js"></script>
    <script>
    $( document ).ready(function() {
        $('.jumbotron-button-two').show();
        $('.how-it-works-btn').hide(); 
    });           
    </script>
{% endblock scripts %}
