{% extends 'layout.html' %}

{% block title %}{% parent %} - Dashboard{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/becomefreelancerform.css">
    <link rel="stylesheet" href="/styles/css/tagit.ui-zendesk.css">
    <link rel="stylesheet" href="/styles/css/jquery.tagit.css">
{% endblock head %}

{% block content %}
<div class="form-primary-content">
    <div lang="en-us" class="form-page-container" ng-app="craigsdigitalApp" ng-controller="becomeFreelancerFormController" data-ng-cloak="" profile-completed="{[{profileCompleted}]}">
        <div class="mdl-grid">
            <div class="form-heading">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <h3>Fill the form below to update your information.</h3>   
                </div>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="post-project-form">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    {% include "./components/becomefreelancerform.html" %}        
                </div>
            </div>    
        </div>
    </div>
</div>

{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/angularApp.js"></script>
    <script src="/js/controller/angularController.js"></script>
    <script src="/js/services/angularService.js"></script>
    <script src="/js/vendor/jquery_ui.min.js"></script>
    <script src="/js/vendor/tag-it.min.js"></script>
    <script src="/js/dashboardTagIt.js"></script>
    <script>
        function dirtyAllInputs () {
            if($('.form-page-container').attr('profile-completed') === 'true') {
                $('.mdl-textfield').addClass('is-dirty');
                }
            }
        $( document ).ready(function() {
            setTimeout(function(){ dirtyAllInputs() }, 2500);
        });    
        
    </script>
{% endblock scripts %}