{% extends 'layout.html' %}

{% block title %}{% parent %} - SignUp{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/freelancer-signup.css">
{% endblock head %}

{% block content %}
<div class="freelancer-form-primary-content">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="form-header">
                <h3>Sign-up as a freelancer</h3>
                <h6>It is very important to us that freelancers on our platform are legitimate users with verified online presence. <strong>We DO NOT post anything to any of your social accounts.</strong> Please click below to sign in.</h6>         
                <hr>
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
            <a href="/auth/facebook" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Facebook
            </a>       
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
            <a href="/auth/google" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Google +
            </a>       
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
            <a href="/auth/linkedin" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
            Linkedin
            </a>       
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <form class="signup-form" action="/auth/createuser" method="post">
                <h4 class="signup-heading">Sign-up form</h4>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    {% if (errorMessage.length > 0) %}
                    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
                    {% endif %}
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="email" name="email" id="email-input">
                            <label class="mdl-textfield__label" for="sample1">Email</label>
                        </div>
                    </div>
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="password" name="password" id="password-input">
                            <label class="mdl-textfield__label" for="sample1">Password</label>
                        </div>
                    </div>
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">
                        Submit
                        </button>
                    </div>
                </div>
            </form>      
        </div>
    </div>
</div>

{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script>
        $('h1.header-jumbotron-text').text('You don\'t have to be great to start, but you have to start to be great.');
        $('h1.header-jumbotron-text').css('font-size', '45px');
        $('h4.header-jumbotron-text').text('Join a community of freelancers from Vancouver here on WorkDesk.');
        $('.button-container').html('');
    </script>
{% endblock scripts %}