{% extends 'layout.html' %}

{% block title %}{% parent %} - {{user.auth.local.name}}{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/viewFreelancer.css">
{% endblock head %}

{% block content %}
<div class="view-project-container">
    <div class="mdl-grid">
        <div class="header-container">
            <img src="{{user.auth.local.pic.highres}}" width="250px" />
            {% if user.auth.local.launchpadCertified %}
            <a href="http://www.ubclaunchpad.com/" target="_blank"><img id="certified" class="launchpad-certified" src="../../images/launchpad-certified.png" /></a>
            <div class="mdl-tooltip" for="certified">
            UBC Launchpad Certified
            </div>
            {% endif %}
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h4>{{user.auth.local.name}}</h4>
                <span>
                    {% if user.auth.local.portfolioLinks.linkedinUrl %}<a href="{{user.auth.local.portfolioLinks.linkedinUrl}}" target="_blank" id="social-profile"><i class="material-icons">person</i></a> <div class="mdl-tooltip" for="social-profile">View social profile</div>{% endif %}
                    {% if user.auth.local.portfolioLinks.portfolioUrl %}<a href="{{user.auth.local.portfolioLinks.portfolioUrl}}" target="_blank" id="portfolio"><i class="material-icons">public</i></a> <div class="mdl-tooltip" for="portfolio">View protfolio</div>{% endif %}
                    {% if user.auth.local.portfolioLinks.codeRepoUrl %}<a href="{{user.auth.local.portfolioLinks.codeRepoUrl}}" target="_blank" id="code-profile"><i class="material-icons">code</i></a> <div class="mdl-tooltip" for="code-profile">View code repo.</div>{% endif %}
                    {% if user.auth.local.portfolioLinks.otherUrl %}<a href="{{user.auth.local.portfolioLinks.otherUrl}}" target="_blank" id="other-links"><i class="material-icons">info</i></a> <div class="mdl-tooltip" for="other-links">View more info.</div>{% endif %}
                    
                </span>
                <h5>{{user.auth.local.professionalTitle}}</h5> <p>{{user.auth.local.mainServices|join(', ')}}</p>
            </div>
        </div>        
    </div>
    <div class="mdl-grid">
        <div class="desc-container">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h5>Overview:</h5>
                <p>{{user.auth.local.overview}}</p>
                <!--<h6>Other skills: {{ project.local.skillset|join(', ') }}</h6>-->
            </div>
        </div>        
    </div>
    <hr>
    <div class="mdl-grid info-container">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
            <h5>Skillset:</h5>
            <p>{{user.auth.local.skillset|join(', ')}}</p>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
            <h5>Experience :</h5>
            <p>{{user.auth.local.experienceLevel.name}}</p>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
            <h5>Availabiility to work:</h5>
            <p>{{user.auth.local.availablityToWork.name}}</p>
        </div>       
    </div>
    <hr>
    {% if  user.auth.local.employmentHistory[0].company  %}
    <div class="mdl-grid">
        <div class="work-container">
            
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h5>Work Experience:</h5>                
                {% if  user.auth.local.employmentHistory[0].company  %}<h4>{{user.auth.local.employmentHistory[0].company}}</h4>{% endif %}
                {% if  user.auth.local.employmentHistory[0].title  %}<h6>{{user.auth.local.employmentHistory[0].title}}</h6>{% endif %}
                {% if  user.auth.local.employmentHistory[0].desc  %}<p>{{user.auth.local.employmentHistory[0].desc}}</p>{% endif %}
            </div>
            
        </div>        
    </div>
    <hr>
    {% endif %}
    <div class="mdl-grid">
        <div class="education-container">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h5>Education &amp; Certifications:</h5>
                <ul>
                    {% if user.auth.local.education.school %}<li>{{user.auth.local.education.school}}</li>{% endif %}
                    {% if user.auth.local.education.schoolOne %}<li>{{user.auth.local.education.schoolOne}}</li>{% endif %}
                </ul>
            </div>
        </div>        
    </div>
    <hr>
    <div class="mdl-grid gigs-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h5>Gigs offered:</h5>
            <div class="gigs-container">
                <div class="mdl-grid">
                </div>
            </div>            
        </div>        
    </div>
    <hr>
    <div class="mdl-grid">
        <div class="contact-container">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h5 id="">Get in touch:</h5>
                <p>Email: <a href="mailto:{{user.auth.local.email}}?subject=WorkDesk%20Project&body=Find local freelancers @ www.theworkdesk.ca" target="_blank">{{user.auth.local.email}}</a></p>
                {% if user.auth.local.phoneNumber %}<p>Call me @ <a href="tel:{{user.auth.local.phoneNumber}}">{{user.auth.local.phoneNumber}}</a></p>{% endif %}
            </div>
        </div>        
    </div>
    <div class="mdl-grid">
        <div class="btns-container">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <!-- Back FAB button -->
                <a href="/searchfreelancers" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                    <i id="back-btn" class="material-icons">arrow_back</i>
                </a>
                <div class="mdl-tooltip mdl-tooltip--large" for="back-btn">
                    Back to search page
                </div>
            </div>
        </div>
    </div>
</div>
{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script>                    
        jQuery.ajax({
            url: '/api/gig/{{ user.id }}',
            type: 'GET',
            success: function (data, status, req) {
                if(data[0]) {                    
                    for(var i=0, l=data.length; i < l; i++) {
                        
                        var html = [
                            '<div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">',
                            '<div class="demo-card-square mdl-card mdl-shadow--2dp">',
                            '<div class="mdl-card__title mdl-card--expand" style="background: url(' + data[i].imageUrl + ') center center no-repeat #46B6AC">',
                            '<h2 class="mdl-card__title-text">' + data[i].title + '</h2>',
                            '</div>',
                            '<h6 class="cost-text">$' + data[i].cost + ' - ' + data[i].payRate + '</h6>',
                            '<div class="mdl-card__supporting-text">',
                            data[i].description,
                            '</div>',                            
                            '<div class="mdl-card__actions mdl-card--border">',
                            '<a href="mailto:{{user.auth.local.email}}?subject=WorkDesk - ' + data[i].title + '&body=Find local freelancers @ www.theworkdesk.ca" target="_blank" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">',
                            'Get in touch',
                            '</a></div></div'
                            ];
                        $('.gigs-container .mdl-grid').append(html.join(''));
                    }                    
                } else {
                    $('.gigs-grid').hide();
                }                
            },
            error:function (req, status, error) {
               console.log(error);
            }
        });
        
        $( document ).ready(function() {
            $('.jumbotron-button-two').show();
            $('.how-it-works-btn').hide(); 
        });
    </script>
{% endblock scripts %}