{% extends 'layout.html' %}

{% block title %}{% parent %}- Hire Local. Create Local. A community of freelancers in Vancouver.{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/landing-page.css">
{% endblock head %}

{% block content %}
<!-- How it works section -->
<div class="mdl-grid how-it-works-container">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <i class="material-icons hide-value-prop-section">clear</i>
        <h1 class="how-it-works-title">How it works</h1>
        <h5 class="how-it-works-title">If you have a project:</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-one-container">
            <div class="guide-one-image">
                <img src="../../images/how-it-works/user.png" />
            </div>
            <div class="guide-one-text">
                <h4 class="guide-one-title">1. Hire Local</h4>
                <p class="guide-one-paragraph">Browse profiles of freelancers to hire your favorite, or browse gigs that meet your needs. <br>Cannot find what you are looking for? Request a gig and a freelancer will get in touch with you.</p>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-two-container">
            <div class="guide-two-image">
                <img src="../../images/how-it-works/handshake.png" />
            </div>
            <div class="guide-two-text">
                <h4 class="guide-two-title">2. Establish Trust</h4>
                <p class="guide-two-paragraph">Meet your freelancer face-to-face, get to know the person, establish trust, understand their skillset, and work closely with your freelancer to bring your idea to reality.</p>
            </div>
        </div>        
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-three-container">
            <div class="guide-three-image">
                <img src="../../images/how-it-works/createlocal.png" />
            </div>
            <div class="guide-three-text">
                <h4 class="guide-three-title">3. Create Local</h4>
                <p class="guide-three-paragraph">Best work happens when people meet in-person. Meet at a coffee shop. Exchange ideas. It is not just about getting work done, it is about innovating by creating a sustainable professional network in your city - Vancouver</p>
            </div>
        </div>        
    </div>
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <h5 class="how-it-works-title-two">If you are a freelancer:</h5>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-one-container">
            <div class="guide-one-image">
                <img src="../../images/how-it-works/community.png" />
            </div>
            <div class="guide-one-text">
                <h4 class="guide-one-title">1. Join the community</h4>
                <p class="guide-one-paragraph">Become a part of a growing community of entrepreneurial freelancers in Vancouver. Learn, mentor and grow this community of creative professionals.</p>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-two-container">
            <div class="guide-two-image">
                <img src="../../images/how-it-works/collaborate.png" />
            </div>
            <div class="guide-two-text">
                <h4 class="guide-two-title">2. Collaborate</h4>
                <p class="guide-two-paragraph">List services you can offer, browse gigs requested by vancouverites. Find other freelancers in your community & collaborate with professionals from different fields.</p>
            </div>
        </div>        
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <div class="guide-three-container">
            <div class="guide-three-image">
                <img src="../../images/how-it-works/getpaid.png" />
            </div>
            <div class="guide-three-text">
                <h4 class="guide-three-title">3. Get Paid</h4>
                <p class="guide-three-paragraph">Build your portfolio, level-up your skills and get paid for your work. You get 100% of the money you earn. We DO NOT charge any commission.</p>
            </div>
        </div>        
    </div>              
</div>

<!-- Browse Section-->
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">        
        <div class="card-square-1 mdl-card mdl-shadow--2dp">
            <div class="js-mdl-cards mdl-card__title mdl-card--expand" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=1">
                <h2 class="mdl-card__title-text"><a class="search-project-link" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=1" >Web & Mobile Development Gigs</a></h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/searchfreelancers" data-ref="/api/getfilteredfreelancers?category=1" class="search-freelancer-btn mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Browse Developers</a>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">        
        <div class="card-square-2 mdl-card mdl-shadow--2dp">
            <div class="js-mdl-cards mdl-card__title mdl-card--expand" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=2">
                <h2 class="mdl-card__title-text"><a class="search-project-link" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=2" >Tutoring Gigs</a></h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/searchfreelancers" data-ref="/api/getfilteredfreelancers?category=2" class="search-freelancer-btn mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Browse Tutors</a>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">        
        <div class="card-square-3 mdl-card mdl-shadow--2dp">
            <div class="js-mdl-cards mdl-card__title mdl-card--expand" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=3">
                <h2 class="mdl-card__title-text"><a class="search-project-link" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=3" >Design &amp; Creative Gigs</a></h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/searchfreelancers" data-ref="/api/getfilteredfreelancers?category=3" class="search-freelancer-btn mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Browse Designers</a>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
        <div class="card-square-4 mdl-card mdl-shadow--2dp">
            <div class="js-mdl-cards mdl-card__title mdl-card--expand" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=4">
                <h2 class="mdl-card__title-text"><a class="search-project-link" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=4" >Blogging &amp; Writing Gigs</a></h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/searchfreelancers" data-ref="/api/getfilteredfreelancers?category=4" class="search-freelancer-btn mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Browse Writers</a>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
        <div class="card-square-5 mdl-card mdl-shadow--2dp">
            <div class="js-mdl-cards mdl-card__title mdl-card--expand" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=5">
                <h2 class="mdl-card__title-text"><a class="search-project-link" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=5" >Photo/Videography Gigs</a></h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/searchfreelancers" data-ref="/api/getfilteredfreelancers?category=5" class="search-freelancer-btn mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Browse Professionals</a>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">        
        <div class="card-square-6 mdl-card mdl-shadow--2dp">
            <div class="js-mdl-cards mdl-card__title mdl-card--expand" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=6">
                <h2 class="mdl-card__title-text"><a class="search-project-link" data-href="/searchgigs" data-ref="/api/getfilteredgigs?categoryid=6" >Other Creatives Gigs</h2>
            </div>
            <div class="mdl-card__actions mdl-card--border">
                <a href="/searchfreelancers" data-ref="/api/getfilteredfreelancers?category=6" class="search-freelancer-btn mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Browse Creatives</a>
            </div>
        </div>        
    </div>
</div>

{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="js/myscript.js"></script>
{% endblock scripts %}