<!DOCTYPE html>
<html html lang="en-us">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A community of freelancers in Vancouver.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property='og:title' content='WorkDesk - Hire Local. Create Local.' />
        <meta property='og:image' content='http://www.theworkdesk.ca/images/cover-image.jpg' />
        <meta property='og:description' content='A community of freelancers in Vancouver.'/>
        <meta property='og:url' content='http://www.theworkdesk.ca' />
        
        <title>{% block title %}WorkDesk - Hire Local. Create Local.{% endblock %}</title>

        {% block head %}
        <link rel="icon" type="image/png" href="/images/logos/logodesigninitials.png" />
        <link rel="stylesheet" href="/mdl/material.min.css">
        <link rel="stylesheet" href="/styles/css/iconfont/material-icons.css">
        <link rel="stylesheet" href="/styles/css/mystyles.css">
        {% endblock head %}
        {% if env === 'production' %}
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
            _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
            $.src="//v2.zopim.com/?3dJfDviHvqmH1chJKR33T030PcMROLlS";z.t=+new Date;$.
            type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
        </script>
        <!--End of Zopim Live Chat Script-->
        {% endif %}
    </head>
 
    <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
        <img src="/images/cover-image.jpg" style="display: none;"/>
        {% include "./components/navbar.html" %}
                <section class="primary-page-content">
                {% block content %}
                </section>                
            </main>
        </div>           
        {% endblock content %}
        {% if env === 'production' %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-72507237-1', 'auto');
            ga('send', 'pageview');
        </script>
        {% endif %}
        {% block scripts %}
        <script src="/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="/mdl/material.min.js"></script>
        <script async="" defer="" src="//survey.g.doubleclick.net/async_survey?site=xemau2tlhqtvam5wnae5enk36y"></script>
        {% endblock scripts %}
    </body>
</html>