{% extends 'layout.html' %}

{% block title %}{% parent %} - Post Gigs{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/postGigs.css">
    <link rel="stylesheet" href="/styles/css/tagit.ui-zendesk.css">
    <link rel="stylesheet" href="/styles/css/jquery.tagit.css">
{% endblock head %}

{% block content %}
<div class="form-primary-content">
    <div class="mdl-grid">
        <div class="form-heading">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h3>Manage existing gigs.</h3>            
            </div>
        </div>
    </div>
     <div class="mdl-grid">
        <div class="manage-gigs-container" data-userid="{{ userid }}">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <div class="gigs-container">
                    <div class="mdl-grid">
                    </div>
                </div>            
            </div>
        </div>    
    </div>
                
    <div lang="en-us" class="form-page-container" ng-app="craigsdigitalApp" ng-controller="createGigController" data-ng-cloak="">
        <div class="mdl-grid">
            <div class="form-heading">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    <h3>Fill the form below to post a gig.</h3>            
                </div>
            </div>
        </div>
        <div class="mdl-grid">
            <div class="post-project-form">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                    {% include "./components/postGigsForm.html" %}        
                </div>
            </div>    
        </div>
    </div>
</div>

{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/angularApp.js"></script>
    <script src="/js/controller/angularGigsController.js"></script>
    <script src="/js/services/angularGigsService.js"></script>
    <script src="/js/vendor/jquery_ui.min.js"></script>
    <script src="/js/vendor/tag-it.min.js"></script>
    <script src="/js/dashboardTagIt.js"></script>
    <script src="/js/postGigs.js"></script>
{% endblock scripts %}