{% extends 'layout.html' %}

{% block title %}{% parent %} - Post Project{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/post-project-page.css">
    <link rel="stylesheet" href="/styles/css/tagit.ui-zendesk.css">
    <link rel="stylesheet" href="/styles/css/jquery.tagit.css">
{% endblock head %}

{% block content %}
<div lang="en-us" class="form-page-container" ng-app="craigsdigitalApp" ng-controller="postProjectFormController" data-ng-cloak="">
    <div class="mdl-grid">
        <div class="form-heading">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h3>Fill out the form below to request a gig</h3>       
            </div>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="post-project-form">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                {% include "./components/postProjectForm.html" %}        
            </div>
        </div>    
    </div>
</div>

{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="/js/vendor/angular.min.js"></script>
    <script src="/js/angularApp.js"></script>
    <script src="/js/controller/angularController.js"></script>
    <script src="/js/services/angularService.js"></script>
    <script src="/js/vendor/jquery_ui.min.js"></script>
    <script src="/js/vendor/tag-it.min.js"></script>
    <script>
    $(document).ready(function() {
            $("#skills-tags").tagit({
                tagLimit: 5,
                placeholderText: "Enter skills needed",
                allowDuplicates: false,
                removeConfirmation: true,
                preprocessTag: function(val) {
                    if (!val) { return ''; }
                    return val[0].toUpperCase() + val.slice(1, val.length).toLowerCase();
                }
            });           
        });
        $('.button-container').html('<a class="jumbotron-button" href="/searchfreelancers"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Search Freelancers!</button></a><a class="jumbotron-button" href="/searchgigs"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">Search Gigs!</button></a>');
</script>
    
    
{% endblock scripts %}