{% extends 'layout.html' %}

{% block title %}{% parent %} - {{ project.local.title }}{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/viewProject.css">
{% endblock head %}

{% block content %}
<div class="view-project-container">
    <div class="mdl-grid">
        <div class="header-container">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h4>
                    {{ project.local.title }}
                    {% if project.local.launchpadCertified %}
                        <a href="http://www.ubclaunchpad.com/" target="_blank">
                            <img id="certified" class="launchpad-certified" src="../../images/launchpad-certified.png" />
                        </a>
                        <div class="mdl-tooltip" for="certified">
                            UBC Launchpad Certified
                        </div>
                        {% endif %}</h4>
                <h6>{{ project.local.category.name}}</h6> <p>{{ project.local.createdAt|date('jS F, Y') }}</p>
            </div>
        </div>        
    </div>
    <div class="mdl-grid">
        <div class="desc-container">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h5>Description:</h5>
                <p>{{ project.local.description}}</p>
                <h6>Other skills: {{ project.local.skillset|join(', ') }}</h6>
            </div>
        </div>        
    </div>
    <hr>
    <div class="mdl-grid info-container">
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
            <h5>Rate:</h5>
            <p>{{ project.local.payRate.name }}</p>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
            <h5>Experience required:</h5>
            <p>{{ project.local.expRequired.name }}</p>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-phone">
            <h5>Duration:</h5>
            <p>{{ project.local.duration.name }}</p>
        </div>       
    </div>
    <hr>
    <div class="mdl-grid">
        {% if userid %}
        <div class="contact-container">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h5>Get in touch:</h5>
                <p>Email: <a href="mailto:{{ project.local.email}}?subject=WorkDesk%20Project&body=Find local freelancers @ www.theworkdesk.ca" target="_blank">{{ project.local.email}}</a></p>
                {% if project.local.phoneNumber %}<p>Call me @ <a href="tel:{{ project.local.phoneNumber}}">{{project.local.phoneNumber}}</a></p>{% endif %}
            </div>
        </div>
        {% else %}
        <div class="contact-container">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <h5 style="color: #E53935;">Please <a href="/signin">sign in</a> to view contact information.</h5>
            </div>
        </div>
        {% endif %}        
    </div>
    <div class="mdl-grid">
        <div class="btns-container">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
                <!-- Back FAB button -->
                <a href="/searchprojects" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                    <i id="back-btn" class="material-icons">arrow_back</i>
                </a>
                <div class="mdl-tooltip mdl-tooltip--large" for="back-btn">
                    Back to search page
                </div>
                <!-- Edit mini FAB button -->
                <a href="/editproject/{{project.projectID}}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
                    <i id="edit-btn" class="material-icons">border_color</i>
                </a>
                <div class="mdl-tooltip mdl-tooltip--large" for="edit-btn">
                    Edit Post
                </div>
                <!-- Delete mini FAB button -->
                <div class="del-proj-spinner mdl-spinner mdl-js-spinner is-active"></div>
                <button class="delete-btn mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" data-projectid="{{project.projectID}}">
                    <i id="del-btn" class="material-icons">delete</i>
                </button>
                <div class="mdl-tooltip mdl-tooltip--large" for="del-btn">
                    Permanently Delete Project
                </div>
            </div>
        </div>
    </div>
</div>
{{project.local.createdAt.$date}}
{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="/js/myscript.js"></script>
{% endblock scripts %}