{% extends 'layout.html' %}

{% block title %}{% parent %} - Requested Gigs{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/searchProjects.css">
    <link rel="stylesheet" href="/styles/css/tagit.ui-zendesk.css">
    <link rel="stylesheet" href="/styles/css/jquery.tagit.css">
{% endblock head %}

{% block content %}
<div lang="en-us" class="search-page-container" ng-app="craigsdigitalApp" ng-controller="searchProjectController" data-ng-cloak="">
    <div class="mdl-grid">
        <!-- Filter by skills -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1"  ng-model="skillFilter">
                <label class="mdl-textfield__label" for="sample1">Filter results by Skillset...</label>
            </div>
        </div>
    <!-- Category DropDown -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-category mdl-selectfield">
                <select class="browser-default" id="select-category" ng-model="selectedCategory" ng-options="category as category.name for category in categoryList" ng-change="filterProjects()" required>
                    <option value='' disabled>Please Choose a Category</option>
                </select>
            </div>
        </div> 
    </div>
    <div search-project-directive projects="projectsData" filter="skillFilter" loader="hideLoader"></div>   
</div>

{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/angularApp.js"></script>
    <script src="js/controller/angularController.js"></script>
    <script src="js/services/angularService.js"></script>
    <script src="js/directives/searchProjectDirective.js"></script>
    <script src="js/vendor/jquery_ui.min.js"></script>
    <script src="js/vendor/tag-it.min.js"></script>   
{% endblock scripts %}