{% extends 'layout.html' %}

{% block title %}{% parent %} - Search Gigs{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/searchGigs.css">
{% endblock head %}

{% block content %}
<div lang="en-us" class="search-page-container" ng-app="craigsdigitalApp" ng-controller="searchGigs" data-ng-cloak="">
    <div class="mdl-grid">
        <!-- Filter by title -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1"  ng-model="titleFilter">
                <label class="mdl-textfield__label" for="sample1">Filter results by Title...</label>
            </div>
        </div>
    <!-- Category DropDown -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-filter mdl-selectfield">
                <select class="browser-default" id="select-category" ng-model="selectedCategory" ng-options="category as category.name for category in categoryList" ng-change="filterGigs()" required>
                    <option value='' disabled>Please Choose a Category</option>
                </select>
            </div>
        </div> 
    </div>        
    <div search-gigs-directive gigs="allGigsData" loader="hideLoader" filter="titleFilter"></div>   
</div>

{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/angularApp.js"></script>
    <script src="js/controller/angularGigsController.js"></script>
    <script src="js/services/angularGigsService.js"></script>
    <script src="js/directives/searchGigsDirective.js"></script>
    <script src="js/vendor/jquery_ui.min.js"></script>
    <script src="js/vendor/tag-it.min.js"></script>
    <script>
        // Change header text when on this page.
        $('h1.header-jumbotron-text').text('Gets things done from the people who love what they do.');
        $('h4.header-jumbotron-text').text('Trouble finding a gig that meets your needs? Click below to post a project.');
        $('.button-container').html(' <a class="jumbotron-button" href="/postproject"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Post a Project!</button></a>');
    </script>   
{% endblock scripts %}