{% extends 'layout.html' %}

{% block title %}{% parent %} - Search Freelancers{% endblock %}

{% block head %}
    {% parent %}
    <link rel="stylesheet" href="/styles/css/searchFreelancers.css">
{% endblock head %}

{% block content %}
<div lang="en-us" class="search-page-container" ng-app="craigsdigitalApp" ng-controller="searchFreelancersController" data-ng-cloak="">
    <div class="mdl-grid">
        <!-- Filter by skills -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="sample1"  ng-model="skillFilter">
                <label class="mdl-textfield__label" for="sample1">Filter results by Skillset...</label>
            </div>
        </div>
    <!-- Category DropDown -->
        <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="select-filter mdl-selectfield">
                <select class="browser-default" id="select-category" ng-model="selectedCategory" ng-options="category as category.name for category in categoryList" ng-change="filterFreelancers()" required>
                    <option value='' disabled>Please Choose a Category</option>
                </select>
            </div>
        </div> 
    </div>        
    <div search-freelancers-directive freelancers="freelancersData" loader="hideLoader" filter="skillFilter"></div>   
</div>

{% parent %}
{% endblock content %}

{% block scripts %}
    {% parent %}
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/angularApp.js"></script>
    <script src="js/controller/angularController.js"></script>
    <script src="js/services/angularService.js"></script>
    <script src="js/directives/searchFreelancersDirective.js"></script>
    <script src="js/vendor/jquery_ui.min.js"></script>
    <script src="js/vendor/tag-it.min.js"></script>
    <script>
        $('h1.header-jumbotron-text').text('Hire local. Create local.');
        $('h4.header-jumbotron-text').text('Trouble finding a freelancer that meets your needs? Click below to post a project.');
        $('.button-container').html('<a class="jumbotron-button" href="/postproject"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Post a Project!</button></a><a class="jumbotron-button" href="/searchgigs"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">Search Gigs!</button></a>');
    </script>   
{% endblock scripts %}