<div class="mdl-grid">
        <!-- MDL Spinner Component -->
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="notifications-container">
                <div ng-hide="loader" class="mdl-spinner mdl-js-spinner is-active"></div>
                <div ng-hide="freelancers.length > 0" class="no-results-message">No results found!!</div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" ng-repeat="freelancer in freelancers | filter: filter ">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title" style="background: url({[{freelancer.auth.local.pic.highres}]}) center / cover; ">
                    <a title="UBC Launchpad Certified" ng-show="{[{freelancer.auth.local.launchpadCertified}]}"  href="http://www.ubclaunchpad.com/" target="_blank"><img id="certified" class="launchpad-certified" src="../../images/launchpad-certified.png" /></a>
                </div>
                <div class="mdl-card__supporting-text">
                    <h5>{[{freelancer.auth.local.name}]}</h5>
                    <h6>{[{freelancer.auth.local.professionalTitle}]}</h6>
                    <p></p>
                    <ul class="skills-list">
                        <li ng-repeat="skill in freelancer.auth.local.skillset | limitTo:5">{[{skill}]}</li>
                    </ul>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="users/{[{freelancer._id}]}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        View Profile
                    </a>
                </div>
                <div class="mdl-card__menu">
                    <a href="mailto:{[{freelancer.auth.local.email}]}?subject=WorkDesk%20Project&body=Find local freelancers @ www.theworkdesk.ca" target="_blank" class="mdl-button mdl-js-button mdl-button--icon">
                        <i class="material-icons">email</i>
                    </a>
                </div>
            </div>
        </div>        
</div>    