<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <!-- MDL Spinner Component -->
        <div ng-hide="loader" class="mdl-spinner mdl-js-spinner is-active"></div>
        <div ng-hide="projects.length > 0" class="no-results-message">No results found!!</div>
        <table class="mdl-data-table mdl-js-data-table search-projects-table" ng-show="projects">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Title</th>
                    <th class="mdl-data-table__cell--non-numeric">Category</th>
                    <th class="mdl-data-table__cell--non-numeric">Skillset</th>
                    <th class="mdl-data-table__cell--non-numeric">Experience</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in projects | filter: filter">
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="/projects/{[{project._id}]}">{[{project.local.title}]}</a>                        
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{[{project.local.category.name}]}</td>
                    <td class="mdl-data-table__cell--non-numeric"><span ng-repeat="skill in project.local.skillset">{[{skill}]} </span></td>
                    <td class="mdl-data-table__cell--non-numeric">{[{project.local.expRequired.name}]}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a title="UBC Launchpad Certified" ng-show="{[{project.local.launchpadCertified}]}" href="http://www.ubclaunchpad.com/" target="_blank">
                            <img id="certified" class="launchpad-certified" src="../../images/launchpad-certified.png" />
                        </a>                       
                    </td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric"></td>
                    <td class="mdl-data-table__cell--non-numeric"></td>
                    <td class="mdl-data-table__cell--non-numeric"></td>
                    <td class="mdl-data-table__cell--non-numeric"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>