<div class="mdl-grid">
        <!-- MDL Spinner Component -->
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="notifications-container">
                <div ng-hide="loader" class="mdl-spinner mdl-js-spinner is-active"></div>
                <div ng-hide="gigs.length > 0" class="no-results-message">No results found!!</div>
            </div>
        </div>
        <div class="mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" ng-repeat="gig in gigs | filter: filter ">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title" style="background: url({[{gig.imageUrl || 'https://image.freepik.com/free-icon/new-black-and-white-label-vector_318-1740.jpg'}]}) center / cover; ">
                </div>
                <div class="mdl-card__supporting-text">
                    <h5 class="gig-title-text">{[{gig.title}]}</h5>
                    <p class="gig-description-text">{[{gig.description.substring(0,130)}]}...</p>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="users/{[{gig.userID}]}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Learn more
                    </a>
                </div>
                <div class="mdl-card__menu">
                    <h6 class="gig-cost-text">${[{gig.cost}]}</h6>
                </div>
            </div>
        </div>        
</div>    