.freelancer-form-primary-content{width:980px;margin:0 auto;padding-bottom:3%;text-align:center;background-color:white}@media screen and (max-width: 980px){.freelancer-form-primary-content{width:700px}}@media screen and (max-width: 700px){.freelancer-form-primary-content{width:450px}}.freelancer-form-primary-content .form-header h6{margin-bottom:30px}.signup-heading{text-decoration:underline}.signin-heading{text-decoration:underline}.alert-danger{color:#D32F2F;font-weight:bold}
/*# sourceMappingURL=freelancer-signup.css.map */
